.input_area{
    margin-bottom: 40px;
}

#memoArea{
    display: flex;
    justify-self:center;
    align-items: center;
    flex-direction: column;
}

#title_test{
    width: 150px;
}

#text_area_test{
    width: 150px;
}