body {
    margin: 0 0;
    height: 100vh;
}

.input_area {
    margin-bottom: 40px;
}

#memoArea {
    display: flex;
    justify-content: space-around;
}

#title_test {
    width: 150px;

}

#text_area_test {
    width: 150px;
}

.register_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.button_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.Select_button {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.card_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: sienna;
    width: 180px;
    height: 180px;
}

.all_display {
    /* margin-bottom: 10px; */
    background-color: gainsboro;
}

.under {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.record_input {
    width: 50%;
}

.pop_display {
    width: 50%;
}

.card_wrapper {}

.modal {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal_window {
    z-index: 2;
    width: 900px;
    height: 600px;
    margin: 3% auto;
    background-color: floralwhite;
    display: flex;
    justify-content: space-between;
}

#pop_title {}

.title {
    width: 300px;
    padding: 10px;
    margin: 20px 0;
}

.text_area {
    width: 300px;
    height: 400px;
    padding: 10px;
}

.button_editer {
    display: flex;
    justify-content: center;
    align-items: center;

}