.input_area {
    margin-bottom: 40px;
}

#memoArea {
    display: flex;
    justify-content: space-around;
}

#title_test {
    width: 150px;
}

#text_area_test {
    width: 150px;
}

.register_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.button_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.Select_button {
    display: flex;
}

.card_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
    width: 200px;
    height: 200px;
}

.all_display {
    /* margin-bottom: 10px; */
    background-color:chocolate;
}

.under {
    display: flex;
    justify-content: space-between;
}

.record_input{
    background-color: blue;
    width: 50%;
}

.pop_display{
    background-color: brown;
    width: 50%;
}

.card_wrapper{
    
}